<div>
    <h1>Titulo de prueba</h1>
    <article>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti vel sint iure! Distinctio culpa, pariatur totam modi consequatur veritatis explicabo accusantium consequuntur vel nisi? Eius nostrum reprehenderit aut rem totam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti vel sint iure! Distinctio culpa, pariatur totam modi consequatur veritatis explicabo accusantium consequuntur vel nisi? Eius nostrum reprehenderit aut rem totam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti vel sint iure! Distinctio culpa, pariatur totam modi consequatur veritatis explicabo accusantium consequuntur vel nisi? Eius nostrum reprehenderit aut rem totam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti vel sint iure! Distinctio culpa, pariatur totam modi consequatur veritatis explicabo accusantium consequuntur vel nisi? Eius nostrum reprehenderit aut rem totam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti vel sint iure! Distinctio culpa, pariatur totam modi consequatur veritatis explicabo accusantium consequuntur vel nisi? Eius nostrum reprehenderit aut rem totam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti vel sint iure! Distinctio culpa, pariatur totam modi consequatur veritatis explicabo accusantium consequuntur vel nisi? Eius nostrum reprehenderit aut rem totam?
    </article>
    @defer (on viewport){
        <app-comments></app-comments>
    } @placeholder{
        <p>Futuros comentarios</p>
    }@loading {
        <p>Cargando...</p>
    }
</div>
