<section>
    @if (isLoggedIn) {
        <p>Bienvenido, `{{username | lowercase}}`</p>
        <img
            (click)="greet()" 
            alt="photo" 
            src="https://github.com/ecotrina106.png">
        <app-games 
            (addFavEvent)="getFavorite($event)"
            username={{username}}>
        </app-games>
        @if (favGame !== '') {
            <p> Tu juego favortio es {{favGame | reverse}}</p>
        }
        <p>Autos favoritos: {{display}}</p>
        <form [formGroup]="emailForm" (ngSubmit)="handleSubmitEmailForm()">
            <label> Email Reactive Form
                <input type="email" formControlName="email"/>
            </label>
            <button type="submit" [disabled]="!emailForm.valid">Alerta</button>
        </form>
        <p>Email: {{emailForm.value.email}}</p>
    }@else{
        <p>Inicia sesión</p>
        <label for="username">
            Username:
            <input id="username" type="text" [(ngModel)]="username"/>
        </label>
        <button (click)="logUser()">Log in</button>
    }
    
</section>


